{{define "index_top_logged_out"}}
        <div class="row" style="padding-bottom: 20px;">
			<div class="col" style="padding-right: 2%; padding-left: 0%;">
				<a class="button bg_primary_flashlight rounded" href="login.html">Login</a>
			</div>
			<div class="col" style="padding-left: 2%; padding-right: 0%;">
				<a class="button bg_primary_flashlight rounded" href="register.html">Register</a>
			</div>
		</div>
{{end}}