{{define "nav_index"}}
{{template "header" .Title}}
    <nav class="navbar bg_primary_flashlight fixed-top">
		<div class="navbar-brand" href="#">
			<img src="artefacts/Logos und Icons/flashlight_logo_weiß.svg" alt="Flashlight Logo" style="width: 200px;"/>
		</div>
	</nav>
{{end}}