{{define "nav_elsewhere"}}
{{template "header"}}
    <nav class="navbar bg_primary_flashlight fixed-top">
		<div class="navbar-brand">
			<a href="index.html">
				<img src="artefacts/Logos und Icons/flashlight_logo_weiß.svg" alt="Flashlight Logo" style="width: 210px;"/>
			</a>
		</div>
	</nav>
{{end}}